$default-background: #D3D3D3;

body {
    height: 100%;
	background-color: $default-background;
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

.board {
    align-items: stretch;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
	min-width: 300px;

	.cell {
		width: 27%;
		border: 1px solid black;
		flex: 1 0 auto;
		height:auto;
	}
	.cell:before {
		content:'';
		float:left;
		padding-top:100%;
	}
}
