$default-background: #D3D3D3;

body {
    height: 100%;
	background-color: $default-background;
	display: flex;
	justify-content: center;
	padding-top: 2em;
}

.board {
    align-items: stretch;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
	min-width: 300px;

	.cell {
		width: 28%;
		border: 1px solid black;
		flex: 1 0 auto;
		height:auto;
		position: relative;

		.cell-value {
			position:absolute;
			top: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		.cell-value:hover {
			background:rgba(0,0,0,0.5);
			opacity: 1;
			transition: all 0.2s;
		}
	}
	.cell:before {
		content:'';
		float:left;
		padding-top:100%;
	}
}
